<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a user!</h1>
    <form action="/users" method="POST">
      <label>
        Email
        <input type="text" name="email" />
      </label>
      <label>
        First
        <input type="text" name="firstName" />
      </label>
      <label>
        Last
        <input type="text" name="lastName" />
      </label>
      <label>
        Date of birth
        <input type="date" name="dob" />
      </label>

      <input type="submit" value="Create user" />
    </form>
  </body>
</html>
